{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">{{ quiz.title }}</h1>

{% for question in questions %}
<form method="post" class="space-y-4">
    {% csrf_token %}
    <div class="bg-white rounded shadow p-4 space-y-4">
        <div class="border-b pb-2">
            <h4 class="text-lg font-semibold text-center text-blue-600">Question {{ page }}</h4>
        </div>
        <div>
            <p class="text-base font-medium text-gray-800">{{ question.text }}</p>
        </div>
        <div class="pt-2 space-y-2 text-left">
            <label class="block">
                <input type="radio" name="question_{{ question.id }}" value="1" required class="mr-2 align-middle">
                <span class="break-words">{{ question.option1 }} </span>
            </label>
            <label class="block">
                <input type="radio" name="question_{{ question.id }}" value="2" class="mr-2 align-middle">
                <span class="break-words">{{ question.option2 }} </span>
            </label>
            <label class="block">
                <input type="radio" name="question_{{ question.id }}" value="3" class="mr-2 align-middle">
                <span class="break-words">{{ question.option3 }} </span>
            </label>
            <label class="block">
                <input type="radio" name="question_{{ question.id }}" value="4" class="mr-2 align-middle">
                <span class="break-words">{{ question.option4 }} </span>
            </label>
        </div>
        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">Submit Quiz</button>
    </div>
</form>
{% endfor %}
<!-- Pagination Controls -->
{% if questions.has_other_pages %}
    <div class="flex justify-center items-center space-x-2 mt-6">
        {% if questions.has_previous %}
            <a href="?page=1" class="px-3 py-1 border rounded text-blue-600 hover:bg-gray-100">First</a>
            <a href="?page={{ questions.previous_page_number }}" class="px-3 py-1 border rounded hover:bg-gray-100">Previous</a>
        {% endif %}

        <span class="px-4 py-1 font-medium text-gray-700">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}" class="px-3 py-1 border rounded hover:bg-gray-100">Next</a>
            <a href="?page={{ questions.paginator.num_pages }}" class="px-3 py-1 border rounded text-blue-600 hover:bg-gray-100">Last</a>
        {% endif %}
    </div>
{% endif %}

{% if not questions %}
<p class="text-red-500 font-semibold">No qestions</p>
{% endif %}
{% endblock %}